body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/free-vector/new-message-landing-page-concept_23-2148319402.jpg?t=st=1726809838~exp=1726813438~hmac=b81d5df389862d4ee5cf8270567560cb9f8e089fae274cc55e7ea654cf673a20&w=1060') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: darkblue;
  }